<h1>Latest Image</h1>

<% unless @image.nil? %>
  <div>
    <%= link_to @image.image.url do %>
      <%= image_tag @image.image.url(:thumb) %>
    <% end %>
  </div>
<% end %>

<%= link_to "View Projects", projects_path %>
